<!-- Desktop -->
<template x-if="!isMobile">
    <ul class="hidden lg:w-auto lg:flex lg:items-center">
        {{ nav:navigation }}
            <li>
                <a href="{{ url }}" aria-label="{{ title }}" class="px-5 py-2 font-medium text-gray-800 hover:text-blue-500 transition-all
        block {{ is_current || is_parent ?= 'text-blue-500' }}">
                    {{ title }}
                </a>
            </li>
        {{ /nav:navigation }}
    </ul>
</template>

<!-- Desktop Search -->
<template x-if="!isMobile">

</template>
