<div class="container-fluid">
    <div class="help-box row g-4 py-4">
        <div class="col-md-3">
            <div class="card h-100 border-primary shadow-sm rounded">
                <div class="card-body text-center">
                    <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-box" style="font-size: 2.5rem;"></i>
                    </div>
                    <h3 class="card-title fw-bold text-primary">1. Adım</h3>
                    <p class="card-text">Menüden <strong style="color: #0a58ca">"Koli Ver"</strong> butonuna basılır, çıkan ürünler incelenir. İstenilen ürün hangisi ise <strong>"Koliye Ekle"</strong> tuşuna basılır.  </p>
                    <p class="text-muted small fst-italic mt-2">* Ürünün detaylarını görmek isterseniz ürünün resmine tıklayabilirsiniz.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100 border-success shadow-sm rounded">
                <div class="card-body text-center">
                    <div class="bg-success text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-cart-check" style="font-size: 2.5rem;"></i>
                    </div>
                    <h3 class="card-title fw-bold text-success">2. Adım</h3>
                    <p class="card-text">Koliye eklenen ürünleri görmek için sağ üst köşedeki <strong> <i class="bi bi-cart3 cart-icon"></i> sepet ikonuna</strong> tıklanır. Sepetinizdeki ürünleri kontrol edip düzenleyebilirsiniz.</p>
                    <p class="text-muted small fst-italic mt-2">* Kolinizdeki ürünleri buradan kontrol ederek düzenleyebilirsiniz.</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100 border-warning shadow-sm rounded">
                <div class="card-body text-center">
                    <div class="bg-warning text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-box-seam" style="font-size: 2.5rem;"></i>
                    </div>
                    <h3 class="card-title fw-bold text-warning">3. Adım</h3>
                    <p class="card-text">Eğer koliniz hazır ise "İYİLİĞİ ULAŞTIR" butonuna basarak, sizden istenen bilgileri giriniz.
                    <p class="text-muted small fst-italic mt-2">* İyiliği ulaştır butonuna bastıktan sonra sepette .<span class="badge bg-danger">%15 indirim</span> uygulanacaktır. </p>
                </div>
            </div>
        </div>




        <div class="col-md-3">
            <div class="card h-100 border-danger shadow-sm rounded">
                <div class="card-body text-center">
                    <div class="bg-danger text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 80px; height: 80px;">
                        <i class="bi bi-balloon-heart" style="font-size: 2.5rem;"></i>
                    </div>
                    <h3 class="card-title fw-bold text-danger">4. Adım</h3>
                    <p class="card-text">Güvenli ödeme sayfasında bilgilerinizi girerek bağışınızı tamamlayın. Her bağışınız, bir aileye umut ve destek olarak toplumsal dayanışmanın güzel bir örneğini oluşturuyor.</p>
                    <p class="text-muted small fst-italic mt-2">* Bağışınız onaylandıktan sonra, yardımınızın ulaşacağı ihtiyaç sahibi aile bilgilendirilecektir.</p>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="   ">
                <div class="card-body text-center">
                    <a href="https://koliver.ankara.bel.tr/koli-ver" class="btn btn-danger mt-4" style=" font-size: 1.5rem">  <i class="bi bi-heart-fill" ></i> İyilik Hareketine Katılın</a>
                </div>
            </div>
        </div>

    </div>

</div>
